
.refind-title {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 5px;
    margin-right: 5px;
}

.refind-subtitle {
    margin-top: .2em;
    margin-bottom: .5em;
    margin-left: 5px;
    margin-right: 5px;
}

.refind-elem {
    margin: 5px;
    padding: 5px;
}

.refind-search {
    width: 190px;
}

.refind-btn {
    width: 85px;
}